streamlit
torch
transformers
textwrap3
nltk
spacy==3.5.0
git+https://github.com/boudinfl/pke.git
flashtext
requests
sentencepiece
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
